@import 'reset';
@import 'setup';
@import 'mixins';

body {
  font-family: $FontMain;
  background-color: $ColorBG1;
}

h1,
h2,
h3,
h4,
h5 {
  color: $ColorText1;
}

h1 {
  font-size: 2.8em;
  font-weight: 600;
}

h2 {
  font-size: 2.2em;
  font-weight: 500;
}

h3 {
  font-size: 1.8em;
  font-weight: 400;
}

input {
  font-family: $FontMain;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  .title {
    font-family: $FontTitle;
    font-size: 1.5em;
    transform: translateY(45%);
    color: $ColorText1;
  }
  .navbar {
    border: none !important;
    .active.item {
      color: $ColorText1 !important;
      border-color: $ColorText1 !important;
    }
  }
  .navlink {
    font-size: 1.1em;
    color: $ColorText2 !important;
  }
}
